.post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 70vh;
    /* background-color: pink; */
}

.post-container>div {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin: 20px auto;
    height: fit-content;
}
@media (min-width: 768px) {

    .post-container {
        /* background-color: rgba(0, 0, 255, 0.788); */
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}