.imgDiv {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: #fff;
    align-items: center;
}
.imgDiv > img {
    width: 85%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    margin: auto;
}

.imgButtons{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.imgButtons > div > img {
    width: 60px;
    aspect-ratio: 1/1;
    border: 2px solid #dbdbdb;
    padding: 3px;
}

.text-area{
    margin: 12px;
    color: black;
    border: 2px solid white;
}
.text-area>div{
    /* border: 2px solid red; */
    margin-bottom: 21px;
}
.title{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.qty-sec{
    border: 2px solid transparent;
    font-size: 1.2rem;
}
.qty-sec select{
    margin-left: 12px;
    width: 59px;
    border: 2px solid gray;
    border-radius: 10px;
    
}
.qty-sec option{
    border-radius: 21px;
}

.price-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.first>span, .availablity>span{
    display: block;
    /* border: 1px solid orange; */
}
.price-section .price-span{
    display: flex;
}
.price-section .price{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.disc-note{
    color: red;
    font-size: 0.8rem;

}
.price-section .old-dis{
    display: flex;
    gap: 12px;
}
.price-section .old-price{
    display: flex;
    color: #909090;
}
.price-section .old-price span:last-child{
    font-size: 1.2rem;
}
.price-section .discount{
    display: flex;
    padding: 4px 12px;
    border-radius: 8px;
    background-color: #f0faf7;
    color: #0bb07e;
}
.price-section .discount span:first-child{
    font-size: 0.8rem;
}
.price-section .availablity .stock{
    font-size: 1.5rem;
}
.price-section .label{
    font-size: large;
    color: #909090;
}
.category-sec span{
    margin-right: 12px;   
    font-size: 1.3rem; 
}
.category-sec span:last-child{
    font-weight: 500;
}
.desc-section h1{
    font-size: 1.4rem;
    font-weight: 450;
}
/* bottom Sticky */
.last-row{
    position: sticky;
    bottom: 8px;
}
.last-row > .buttons{
    margin: 8px;
    height: 43px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}
.last-row > .buttons button{
    border-radius: 8px;
}
.last-row > .buttons button:active{
    transform: scale(0.97);
}
.last-row > .buttons .share-btn a{
    background-color: orange;
    color: white;
    display: flex;
    height: 100%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    gap: 12px;
}
.last-row > .buttons .share-btn a>img{
    height: fit-content;
    width: 20px;
    filter: invert(100%);
}
.last-row > .buttons button:last-child{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.editDelBtn {
    /* color: black; */
    font-size: 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 12px;
}
.editDelBtn button{
    background-color: transparent;
    /* border: 2px solid black; */
}
.editDelBtn .edit, .editDelBtn .delete{
    border-radius: 8px;
    background-color: #48afff;
    text-align: center;
}

.other-items{
    min-height: 32px;
}

@media (min-width: 430px) {
    .imgDiv img {
        width: 100vw;
        height: 40vh;
    }
}

@media (min-width: 640px) {
    .imgDiv img {
        width: 100vw;
        height: 40vh;
    }
}

@media (min-width: 768px) {
    .imgDiv img {
        width: 100vw;
        height: 350px;
    }
}

@media (min-width: 1024px) {
    .postPage {
        display: flex;
        justify-content: center;
    }

    .postPage>div {
        width: 70vw;
    }

    .imgDiv img {
        width: 70vw;
        height: 450px;
    }
}

@media (min-width: 1024px) {
    .postPage {
        display: flex;
    }

    .postPage>div {
        width: 70vw;
    }

    .imgDiv img {
        width: 70vw;
        height: 450px;
    }
}

@media (min-width: 1280px) {
    

    .postPage>div {
        width: 60vw;
    }
    .imgDiv img {
        width: 60vw;
        height: 450px;
    }
}

@media (min-width: 1280px) {
    

    .postPage>div {
        width: 60vw;
    }
    .imgDiv img {
        width: 60vw;
        height: 450px;
    }
}

@media (min-width: 1800px) {
    .postPage>div {
        width: 1200px;
    }
    .imgDiv img {
        width: 1200px;
        height: 450px;
    }
}